.project__card_title {
  position: absolute;
  top: 95%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 10px 10px;
  padding: 10px 0;
  text-align: center;
  transition: all 0.2s ease-in-out;
  overflow-wrap: break-word;
  color: var(--white-color);
}

.project__card_front:hover .project__card_title {
  transform: translate(0, -105%);
}

@media (max-width: 768px) {
  .project__card_title {
    font-size: 2rem;
    transform: translate(0, -100%);
  }
}

@media (max-width: 576px) {
  .project__card_title {
    font-size: 1.8rem;
  }
}

@media (max-width: 480px) {
  .project__card_title {
    font-size: 1.6rem;
  }
}

@media (max-width: 400px) {
  .project__card_title {
    font-size: 1.4rem;
  }
}