.project__link_container {
  box-shadow: 0 0 8px 2px rgba(255, 255, 255, 0.5);
  background-color: rgb(36, 34, 18);
  border-radius: 10px;
  transition: all 0.1s ease-in-out;
  font-weight: 700;
  width: 100%;
  align-content: center;
}

.project__link_container a {
  color: var(--white-color);
}

.project__link_container:hover {
  box-shadow: 0 0 8px 2px rgba(0, 0, 0, 0.75);
  transform: scale(1.05);
  background: linear-gradient(270deg, #ffc901, #f0a703);
  color: var(--white-color);
}

.project__link_container:active {
  transform: scale(0.95);
}
