.hero__container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 700px;
  padding-left: 60px;
}


@media (max-width: 768px) {
  .hero__container {
    display: flex;
    flex-direction: column-reverse;
    padding: 0;
    height: auto;
  }
}