@media (max-width: 1200px) {
  .header__nav_list_close-button {
    width: 30px;
    height: 30px;
    background-image: url(./../../../../images/icons/x.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 10px;
    filter: var(--svg-logo-color);
    cursor: pointer;
  }
}
