.header__burger {
  display: none;
  background-image: url(../../../../images/icons/burger-menu.svg);
  background-size: contain;
  background-repeat: no-repeat;
  width: 28px;
  height: 28px;
  cursor: pointer;
}

.header__burger:active {
  scale: 1.1;
}

@media (max-width: 1200px) {
  .header__burger {
    display: block;
  }
}
