.project__container {
  margin: 15px 20px;
  width: 250px;
  height: 250px;
  aspect-ratio: 1/1;
  user-select: none;
  position: relative;
  cursor: pointer;
  opacity: 0;
  }

  @media (max-width: 768px) {
    .project__container {
width: 50%;
  height: auto;
    }
    
  }